<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jéssica Coutinho - Header</title>
  </head>
  <body>
    <header id="inicio" class="cabecalho">
      <img
        class="logo"
        src="./assets/imagens/logo3.png"
        alt="Logotipo da página"
      />
      <nav class="navBar">
        <button class="iconMobile">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </button>
        <ul class="navList">
          <li class="navItem">
            <a class="navLink" href="#inicio">início</a>
          </li>
          <li class="navItem">
            <a class="navLink" href="#sobre">sobre</a>
          </li>
          <li class="navItem">
            <a class="navLink" href="#servicos">Serviços</a>
          </li>
          <li class="navItem">
            <a class="navLink" href="#projetos">projetos</a>
          </li>
          <li class="navItem">
            <a class="navLink btnFaleConosco" href="#faleContato">Contato</a>
          </li>
          <li class="navItem">
            <button class="btnTheme">
              <img
                class="iconTheme"
                src="./assets/imagens/iconTheme/iconTheme.png"
                alt=""
              />
            </button>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
