<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jéssica Coutinho - Hero</title>
</head>
<body class="dark">
    <section id="inicio" class="container">
        <section class="container-text">
            <p class="frase">Boas ideias. Código limpo. Resultados reais.</p>
            <h2 class="slogan">Soluções digitais que impulsionam seu <span class="destaque-hero">negócio.</span>
            </h2>
            <p class="descricao">Desenvolvemos sites, aplicações e sistemas modernos, rápidos e responsivos para transformar ideais em produtos digitais.</p>
            <section class="container-btn">
                <a href="#servicos" class="nossosServicos">Nossos Serviços</a>
                <div class="icon-projetos">
                    <i class="fa-solid fa-folder" style="color: rgb(177, 151, 252);"></i>
                <a href="#projetos" class="verProjetos">Ver Projetos</a>
                </div>
            </section>
        </section>
        <section class="container-img">
            <img src="./assets/imagens/fotos/heroDark1.png" alt="">
        </section>
    </section>
</body>
</html>