@import url(global.css);
@import url(theme.css);
@import url(header.css);
@import url(hero.css);

main {
  min-height: 50vh;
}

/* seção serviços */

.container-servicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: var(--bg-secondary);
  padding: 50px 0;
}

.title-servicos {
  color: var(--primary-hover);
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.5rem;
}

.title-fazemos {
  color: var(--text-primary);
}

.descricao-servicos {
  color: var(--text-secondary);
  max-width: 95%;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 85%;
  justify-self: center;
  align-self: center;
  margin-top: 20px;
}

.card1:hover,
.card2:hover,
.card3:hover {
  background-color: var(--card-hover);
}

.card1,
.card2,
.card3 {
  background-color: var(--bg-bg);
  width: 85%;
  padding: 30px;
  box-shadow: 0 0 15px var(--shadow-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card1 {
  grid-column: 1 / 2;
}

.card2 {
  grid-column: 2 / 3;
}

.card3 {
  grid-column: 3 / -1;
}

.card-title {
  color: var(--text-secondary);
}

.card-body {
  color: var(--text-secondary);
}

/* seção sobre mim */

.container-sobre {
  background-color: var(--bg-primary);
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 30px;
}

.container-img-sobre {
  flex-grow: 3;
  flex-basis: 55%;
}

.container-img-sobre img {
  width: 100%;
}

.container-text-btn-sobre {
  flex-grow: 1;
  flex-basis: 45%;
  padding: 0 25px;
}

.sobre-title{
  flex-grow: 1;
  flex-basis: 45%;
}

.sobre-title p {
  color: var(--primary-hover);
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.5rem;
}

.sobre-title h2 {
  color: var(--text-primary);
  font-size: 2.5rem;
  margin: 10px 0;
}

.text-sobre {
  color: var(--text-secondary);
  margin: 25px 0;
  text-align: justify;
  text-indent: 2rem;
}

.soft-skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.btn-soft-skill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  background-color: var(--pink-glow);
  padding: 8px 9px;
}

.btn-soft-skill > p{
  color: var(--text-primary);
}

@media screen and (max-width: 768px) {
  /* seção serviços */
  .cards {
    grid-template-rows: repeat(3, 1fr);
    width: 95%;
    justify-items: center;
  }

  .card1,
  .card2,
  .card3 {
    margin: 30px 0;
  }

  .card1 {
    grid-column: 1 / -1;
  }

  .card2 {
    grid-column: 1 / -1;
  }

  .card3 {
    grid-column: 1 / -1;
  }

  /* seção sobre mim */

  .container-sobre {
    flex-direction: column;
  }
}
